<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
 <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, tempore!</p>
    </section>
 </main>
    
</body>
<%- include('partials/foots')%>
</html>

